<br><br>
<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-1">
        {{!-- <div class="uk-card uk-card-default uk-card-body"> --}}
            <h1 class="uk-heading-primary">Admin</h1>
            {{!-- </div> --}}
        ​
    </div>

​

    <div class="uk-width-1-1">
        {{!-- <div class="uk-card uk-card-default uk-card-body"> --}}
            <p uk-margin>
                <a class="uk-button uk-button-primary" href="/admin/sports">Sports</a>
                <a class="uk-button uk-button-secondary" href="/admin/music">Music</a>
                <a class="uk-button uk-button-danger" href="/admin/Arts%20&%20Theatre">Arts + Theater</a>
            </p>

        </div>
        {{!-- <div class="uk-width-1-2">
            <div class="uk-card uk-card-default uk-card-body">1-2
                ​
            </div>
        </div> --}}
    </div>
    ​
    <div class="uk-text-center" uk-grid>
        <div class="uk-width-1-2">
            <div id="testdiv" class="uk-card uk-card-default uk-card-body">
                ​
                <h2>API Data</h2>
                <h3>Category: "{{category}}" </h3>
                ​
                <ul>
                    {{#each eventsDB}}
                    <li>{{eventName}} {{venueName}} {{addressLine1}} {{addressLine2}} {{city}} {{state}} {{postalCode}}
                        {{startDate}} {{startTime}} </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default uk-card-body">
                <h2>Database</h2>
                <ul>
                    {{#each eventsAPI}}
                    <li>{{eventName}} {{venueName}} {{addressLine1}} {{addressLine2}} {{city}} {{state}} {{postalCode}}
                        {{startDate}} {{startTime}} </li>
                    {{/each}}
                </ul>
                ​
                ​
            </div>
        </div>
    </div>
    </div>


​
{{!-- eventsAPI: dbData --}}
wrap long lines