<div class="uk-container-expand">
    <nav class="uk-navbar-container" uk-navbar>
        <span class="uk-form-icon" uk-icon="icon: heart"></span>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#"></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">
                                    <p>Welcome <span class="member-name"></span></p>
                                </a></li>
                            <li><a href="#">Item</a></li>
                            {{!-- <li class="uk-nav-header">Header</li> --}}
                            {{!-- <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li> --}}
                            <li class="uk-nav-divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div uk-grid>
        <div id="public-events" class="uk-width-2-3">
            <div class="uk-card uk-card-body">
                <h3 class="uk-card-title uk-text-center">Events In Your Area</h3>
                <div class=>
                    <ul>
                        {{#each eventsDB}}
                        <li>{{eventName}} {{venueName}} {{addressLine1}} {{addressLine2}} {{city}} {{state}}
                            {{postalCode}}
                            {{startDate}} {{startTime}} </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div id="my-events" class="uk-width-1-3">
            <div class="uk-card uk-card-body">
                <h3 class="uk-card-title uk-text-center">My Events</h3>
                <div class=></div>
            </div>
        </div>
    </div>
</div>